@import url('https://fonts.googleapis.com/css?family=Sonsie+One&display=swap');

.navbar-brand {
	font-family: 'Sonsie One', cursive;
}

.container {
  max-width: 960px;
}

.icon {
  border-radius: 20px;
}

.wow {
  visibility: hidden;
}

.car {
  max-height: 300px;
  background-color: black;
}

.site-header {
  background-color: black;
}

.site-header a {
  transition: ease-in-out color .15s;
}

.site-header a:hover {
  color: #eee !important;
  text-decoration: none;
}

footer {
  background-color: black;
}

.flex-md-equal>* {
  display: block;
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}

.privacy-policy {
  margin-top: 7em;
  margin-bottom: 10em;
  width: 90%;
}

.bold {
  font-weight: 600;
}