{% capture page_full_title %}{% if page.title != "Home" %}{{ page.title }} | {% endif %}Overqualified Idea Generator{% endcapture %}
{% capture page_absolute_url %}https://iworld4us.com{{ page.url | replace: ".html", ""}}{% endcapture %}
{% capture page_any_image %}{% if page.large_image %}https://iworld4us.com/img/{{ page.large_image }}{% elsif page.image %}https://iworld4us.com/img/{{ page.image }}{% else %}https://iworld4us.com/favicon.png{% endif %}{% endcapture %}

<!doctype html>
<html lang="en" prefix="og: https://ogp.me/ns#">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ page_full_title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="Aleksandr Varaksa">

    <link rel="icon" href="/favicon.png">
    <link rel="shortcut icon" type="image/png" href="/favicon.png">

    <meta property="og:site_name" content="Overqualified Idea Generator" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:url" content="{{ page_absolute_url }}" />
    <meta property="og:image" content="{{ page_any_image }}" />

    <meta name="twitter:card" content="summary{% if page.large_image %}_large_image{% endif %}" />
    <meta name="twitter:title" content="{{ page_full_title }}" />
    <meta name="twitter:description" content="{{ page.description }}" />
    <meta name="twitter:image" content="{{ page_any_image }}" />
    <meta name="twitter:site" content="@overqualifiedav" />
    <meta name="twitter:creator" content="@overqualifiedav" />

    <link rel="preconnect" href="https://cdnjs.cloudflare.com">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw==" crossorigin="anonymous" />
</head>

<body>
    <nav class="site-header navbar fixed-top navbar-expand-xl navbar-dark">
        <a class="navbar-brand" href="/">
            <div id="brand">&nbsp;Overqualified Idea Generator</div>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav flex-lg-row justify-content-around">
                <li class="nav-item {% if page.title == 'Home' %}active{% endif %}">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item {% if page.title == 'NEXT-ATX' %}active{% endif %}">
                    <a class="nav-link" href="/next-atx">NEXT-ATX</a>
                </li>
                <li class="nav-item {% if page.title == 'DIY 3D Printer' %}active{% endif %}">
                    <a class="nav-link" href="/diy-3d-printer">DIY 3D Printer</a>
                </li>
                <li class="nav-item {% if page.title == 'VarCAM' %}active{% endif %}">
                    <a class="nav-link" href="/VarCAM">VarCAM</a>
                </li>
                <li class="nav-item {% if page.title == 'Stl2Gcode 5x' %}active{% endif %}">
                    <a class="nav-link" href="/Stl2Gcode-5x">Stl2Gcode 5x</a>
                </li>
                <li class="nav-item {% if page.title == 'Papercraft4 3D' %}active{% endif %}">
                    <a class="nav-link" href="/Papercraft4-3D">Papercraft4 3D</a>
                </li>
                <li class="nav-item {% if page.title == 'Home Repair 3D' %}active{% endif %}">
                    <a class="nav-link" href="/home-repair-3d">Home Repair 3D</a>
                </li>
                <li class="nav-item {% if page.title == 'Vector FX' %}active{% endif %}">
                    <a class="nav-link" href="/Vector-FX">Vector FX</a>
                </li>
                <li class="nav-item {% if page.title == 1991 %}active{% endif %}">
                    <a class="nav-link" href="/1991">1991</a>
                </li>
            </ul>
        </div>
    </nav>

    {{ content }}

    <footer class="p-3">
        <div class="text-white text-center">
            <i class="fas fa-copyright" aria-label="&copy;"></i> Aleksandr Varaksa 1991&ndash;2021

            <div class="d-block d-sm-none w-100"></div>

            <div class="btn-group mx-2" role="group">
                <a href="mailto:i_appstore@yahoo.com" role="button" class="my-1 btn btn-outline-light wow flipInX"><i class="fas fa-envelope"></i>&nbsp;&nbsp;Contact Us</a>
                <a href="https://twitter.com/overqualifiedav" role="button" class="my-1 btn btn-outline-light wow flipInX" target="_blank" rel="noopener"><i class="fab fa-twitter" aria-label="Twitter"></i></a>
                <a href="https://www.instagram.com/av_3d_generator/" role="button" class="my-1 btn btn-outline-light wow flipInX" target="_blank" rel="noopener"><i class="fab fa-instagram" aria-label="Instagram"></i></a>
                <a href="https://www.facebook.com/people/Aleksandr-Varaksa/100070134440243" role="button" class="my-1 btn btn-outline-light wow flipInX" target="_blank" rel="noopener"><i class="fab fa-facebook" aria-label="Facebook"></i></a>
            </div>

            <a href="https://apps.apple.com/us/developer/aleksandr-varaksa/id478681813" role="button" class="my-1 btn btn-outline-light wow flipInX" target="_blank" rel="noopener"><i class="fab fa-app-store"></i>&nbsp;&nbsp;All products</a>
        </div>
    </footer>

    <div id="scroll-widget" class="visible">
        <i class="fas fa-chevron-down"></i>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js" integrity="sha512-XKa9Hemdy1Ui3KSGgJdgMyYlUg1gM+QhL6cnlyTe2qzMCYm4nAZ1PsVerQzTTXzonUR+dmswHqgJPuwCq1MaAg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" integrity="sha512-Eak/29OTpb36LLo2r47IpVzPBLXnAMPAVypbSZiZ4Qkf8p/7S/XRG5xp7OKWPPYfJT6metI+IORkR5G8F900+g==" crossorigin="anonymous"></script>
    <script>
        // WOW
        new WOW().init();

        // Scroll widget
        $('#scroll-widget').on('click', event => {
            $('html, body').animate({
                scrollTop: "+=" + visualViewport.height.toString()
            }, 1000);
        });

        $(document).on('scroll', event => {
            if ($(document).height() < (scrollY + visualViewport.height + 1)) {
                $('#scroll-widget').removeClass('visible');
            } else {
                $('#scroll-widget').addClass('visible');
            }
        });

        // GA
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o), m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-69665128-1', 'auto');
        ga('send', 'pageview');
    </script>

    {% if page.title == "VarCAM" or page.title == "Stl2Gcode 5x" %}
    <script>
        $(function () {
            // Collapse navbar on link click
            $('.navbar-collapse li a:not(.dropdown-toggle)').on('click', function () {
                $('.navbar-collapse').collapse('hide');
            });
        });
    </script>
    {% endif %}

    <!-- Cloudflare Web Analytics -->
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "4aa2296e9bd746e09f791d74e1329ffa"}'></script>
    <!-- End Cloudflare Web Analytics -->
</body>

</html>
